.main-sidebar {
  display: none;
  position: fixed;
  right: 0;
  top: 20%;
  height: 100%;
  width: 70%;
  z-index: 500;
  background-color: red; }
  .main-sidebar .main-sidebar-items {
    z-index: 501;
    position: fixed; }

@media (max-width: 750px) {
  .main-nav-hamburgerBtn:hover .main-sidebar {
    display: block !important; } }
